*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1400px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc{
    width: 400px;
    height: 600px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #363637;
}

header{
    width: 400px;
    height: 110px;
}

.buttons1{
    width: 80px;
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

:hover{
    content: attr(title);
}

.result{
    width: 390px;
    height: 60px;
    color: aliceblue;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5px;
}

#exit{
    width: 20px;
    height: 20px;
    background-color: rgb(255, 96, 96);
    border: none;
    border-radius: 10px;
    color: #363637;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
}

#exit:hover::after{
    content: attr(title);
}

#collapse{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border: none;
    border-radius: 15px;
    color: #363637;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
}

#collapse:hover::after{
    content: attr(title);
}

#science{
    width: 20px;
    height: 20px;
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    color: #363637;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
}

#science:hover::after{
    content: attr(title);
}

footer{
    height: 490px;
    width: 400px;
    display: flex;
}

.left{
    height: 100%;
    width: 80%;
}

nav{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    color: #4e4e4e;
}

main{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #4e4e4e;
}

.right{
    height: 100%;
    width: 25%;
}

aside{
    width: 100%;
    height: 488px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #4e4e4e;
}

#nav{
    display: flex;
    height: 96px;
    width: 99px;
    padding: 13px 17px 13px 16px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background: #585859;
    border: none;
    font-size: 50px;
}

#main{
    display: flex;
    height: 96px;
    width: 99px;
    padding: 13px 17px 13px 16px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background: #777677;
    border: none;
    font-size: 50px;
}

#aside{
    display: flex;
    height: 96px;
    width: 94px;
    padding: 13px 17px 13px 16px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background: #FF9F0A;
    border: none;
    font-size: 50px;
}

#zero{
    height: 96px;
    width: 201px;
    border-bottom-left-radius: 20px;
    border: none;
    color: aliceblue;
    background: #777677;
    font-size: 70px;
}

#equal{
    display: flex;
    height: 96px;
    width: 94px;
    padding: 13px 17px 13px 16px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background: #FF9F0A;
    border: none;
    border-bottom-right-radius: 20px;
    font-size: 50px;
}

