*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 300px;
    margin: 50px auto;

    border-radius: 6px;
    background: #363636;
}

.result{
    padding: 20px 20px 8px 20px;

    color: #FFF;
    text-align: right;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

main{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.btn{
    padding: 20px 20px 20px 20px;

    transition: all 0.3s;
    border: 1px solid #464647;
    background: #585859;
    color: #FFF;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.btn:hover{
    background: #494949;
    cursor: pointer;
}

.top-btns{
    padding: 10px;
}

.btn-exit{
    border-radius: 25px;
    padding: 0px 6px;
    color: #363636;
    background: rgb(255, 79, 79);
}

.btn-exit:hover{
    background: rgb(205, 29, 29);
}

.btn-collapse{
    border-radius: 25px;
    padding: 0px 8px;
    color: #363636;
    background: rgb(255, 255, 33);
}

.btn-collapse:hover{
    background: rgb(197, 197, 26);
}

.btn-science{
    border-radius: 25px;
    padding: 0px 6px;
    color: #363636;
    background: rgb(86, 252, 44);
}

.btn-science:hover{
    background: rgb(66, 196, 33);
}

.btn-number{
    background: #777677;
}

.btn-number:hover{
    background: #605e60;
}

.btn-operation{
    background: #FF9F0A;
}

.btn-operation:hover{
    background: #c87b08;
}

.btn-zero{
    grid-column: span 2;
    border-bottom-left-radius: 6px;
    background: #777677;
}

.btn-zero:hover{
    background: #605e60;
}

.btn-equal{
    border-bottom-right-radius: 6px;
    background: #FF9F0A;
}

.btn-equal:hover{
    background: #c87b08;
}

