*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1400px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc{
    border-radius: 6px;
    border: 1px solid var(--Stroke, #3d3d3d);
    background: var(--Stroke, #363636);
}

header{
    width: 232px;
}

.top-btns{
    width: 50px;
    height: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.result{
    padding: 20px 20px 8px 20px;

    color: #FFF;
    text-align: right;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 44px;
}

.exit-btn{
    width: 10px;
    height: 10px;
    background-color: rgb(255, 96, 96);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 7px;
}

.exit-btn:hover::after{
    content: attr(title);
}

.collapse-btn{
    width: 10px;
    height: 10px;
    background-color: yellow;
    border: none;
    border-radius: 15px;
    color: #363637;
    display: flex;
    justify-content: center;
    font-size: 7px;
    font-weight: 600;
}

.collapse-btn:hover::after{
    content: attr(title);
}

.science-btn{
    width: 10px;
    height: 10px;
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    color: #363637;
    display: flex;
    justify-content: center;
    font-size: 7px;
}

.science-btn:hover::after{
    content: attr(title);
}

footer{
    height: 240px;
    width: 232px;
    display: grid;
    grid-template-columns: 58px 58px 58px 58px;
}

.btn{
    width: 58px;
    height: 48px;
}

.btn:hover{
    cursor:pointer;
}

.btn-spec{
border: 1px solid var(--Stroke, #464647);
background: #585859;

color: #FFF;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 18px;
}

.btn-spec:hover{
    background: #494949;
}

.btn-number{
border: 1px solid var(--Stroke, #464647);
background: #777677;

color: #FFF;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 18px;
}

.btn-number:hover{
    background: #605e60;
}

.btn-operation{
border: 1px solid var(--Stroke, #464647);
background: #FF9F0A;

color: #FFF;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 18px;
}

.btn-operation:hover{
    background: #c87b08;
}

.btn-zero{
grid-column: span 2;
width: 116px;

border: 1px solid var(--Stroke, #464647);
border-bottom-left-radius: 6px;
background: #777677;

color: #FFF;
text-align: center;

font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 18px;
}

.btn-zero:hover{
    background: #605e60;
}

.btn-equal{
border: 1px solid var(--Stroke, #464647);
border-bottom-right-radius: 6px;
background: #FF9F0A;

color: #FFF;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 18px;
}

.btn-equal:hover{
    background: #c87b08;
}

